<h1>Burgers!</h1>

<h2>Burgers Created</h2>

<ul>
  {{!#each is handlebars' way of running a for loop}}
  {{#each burgers}}

    {{#unless devoured}}
   
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
  {{!#each is handlebars' way of running a for loop}}
  {{#each burgers}}

    {{#if devoured}}
    {{!> is used for partials, and is pointing to the burgers-block inside burgers inside the partials folder}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
{{!Form to add a burger}}
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>


  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" > Devoured!<br>
    <input type="radio" name="devoured" value="0"checked> Create
  </div>

  <button type="submit">Add Burger</button>
</form>
